doctype html
head
  meta(charset='utf-8')
  title Log-In Page
  link(rel='canonical', href='https://getbootstrap.com/docs/5.0/examples/sign-in/')
  link(href='../assets/dist/css/bootstrap.min.css', rel='stylesheet')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(href='/stylesheets/login.css', rel='stylesheet')
main.form-answer
  form(action='/user/login', method='POST')
    if isLoginFailed
      .alert.alert-danger(role='alert')
        | Wrong Email or Password
    img.mb-4(src='/images/spiral.png', alt='', width='100', height='100')
    h1.h3.mb-3.fw-normal SPIRAL
    p(style='color:red') #{message} #{message2}
    .form-floating
      input#floatingInput.form-control(type='email', placeholder='Email Address', name = 'username' required)
    .form-floating
      input#floatingPassword.form-control(type='password', placeholder='Password', name = 'password' required)
    .checkbox.mb-3
      label
        input(type='checkbox', value='remember-me')
        |  Remember me
    div
      button.w-100.btn.btn-lg.btn-secondary(type='submit') Log-In
      br
      a.w-100.btn.btn-lg.btn-secondary(type='', href='/user/signup') Create Account
